input,
select {
    cursor: pointer;
    height: 45px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

input:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

input:focus {
    outline: none;
}

#app{
    text-align: center
}


#page {
    font-family: "Segoe UI", sans-serif, "Segoe UI", Arial;
    text-align: center;
    display: inline-block;
    height: auto;
    width: auto;
    margin: auto;
    background-color: #ffffff;
}

.border {
    border: 1px black solid;
    border-radius: 5px;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

.control{
    height: 45px;
    width: 45px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
    margin-top: 4px;
}
.control:hover,
.control:disabled{
    background-color: rgba(0, 0, 0, 0.50);
}

.custom-select {
    display: inline-block;
  }

.nonselect{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
