<html>

<head>
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <title>Daily Maze</title>
    <script src="src/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="src/vue.js"></script>
</head>

<body>
    <div id="app">
    <table border="0" cellpadding="0" cellspacing="0" style="padding:0px; margin:0px">
        <tbody>
          <tr v-for="row in height">
            <td v-for="col in width" style="border-style: solid; width: 70px;height: 70px;" v-bind:style="{borderWidth: mazeData[(row-1)*width+col-1].borders[0]+'px '+mazeData[(row-1)*width+col-1].borders[1]+'px '+mazeData[(row-1)*width+col-1].borders[2]+'px '+mazeData[(row-1)*width+col-1].borders[3]+'px'}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="src/maze.js"></script>
</body>

</html>
