<html>

<head>
  <style>
    body{
      text-align: center
    }
  </style>
  
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Maze</title>
  <link rel="stylesheet" href="index.css">
  <script src="src/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="src/vue.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
</head>

<body>
  <div id="page" >
      
      
      <div id="app">
        <table  border="0" cellpadding="0" cellspacing="0" style="padding:0px; margin:0px;text-align: center">
          <tbody >
            <tr  v-for="row in height">
              <td v-for="col in width" style="border-style: solid;width: 30px;height: 30px;"
                v-bind:style="{borderColor: bcolor, borderWidth: mazeData[(row-1)*width+col-1].borders[0]+'px '+mazeData[(row-1)*width+col-1].borders[1]+'px '+mazeData[(row-1)*width+col-1].borders[2]+'px '+mazeData[(row-1)*width+col-1].borders[3]+'px'}">
              {{mazeData[(row-1)*width+col-1].content}}
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Add space between maze and buttons--><br>
        
      
      <button @click="moveUp" class="control" :disabled="!disable">↑</button><br>  
      <button @click="moveLeft" class="control" :disabled="!disable">←</button>
      <button @click="moveDown" class="control" :disabled="!disable">↓</button>
      <button @click="moveRight" class="control" :disabled="!disable">→</button><br>
        <br>

        <div class="custom-select" id="menu">
          <div class="custom-select">
            <select id="diffSelect" @change="switchDifficulty($event.target.value)" :disabled="disable">
              <!-- values are set to create size of maze. can be reworked later. -->
                <option value="src/maze_easy.json">Easy</option>
                <option value="src/maze_medium.json">Medium</option>
                <option value="src/maze_hard.json">Hard</option>
                <option value="src/maze_ex.json">Extreme</option>                                      
            </select>
          </div>
          <br>
          <!-- Build start button and start game timer-->
          <div id="timer">
            <br>
            <input class="custom-select noselect" id="start" v-on:click.prevent="setTime(time)" value="Start" :disabled="disable"/>            
            <br><h2>{{ timeLeft }}
          </div>
        </div>
      </div>
        
  <script src="src/maze.js"></script> 
</body>

</html>
